<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Landon Hotel: Room Reservations</title>
</head>
<body>
	<h1>Welcome to the Reservations Page</h1>
	<table>
		<tr>
			<td>Room</td>
			<td>Room Number</td>
			<td>Guest</td>
			<td>Room ID</td>
			<td>Guest ID</td>
			<td>Date</td>
		</tr>
		<tr	th:each="roomReservation: ${roomReservations}">
			<td th:text="${roomReservation.roomName}">Room Name</td>
			<td th:text="${roomReservation.roomNumber}">Room Number</td>
			<td th:text="${roomReservation.lastName} !=null ? ${roomReservation.lastName} + ', ' + ${roomReservation.firstName} : 'VACANT' ">Guest</td>
			<td th:text="${roomReservation.roomId}">Room Id</td>
			<td th:text="${roomReservation.guestId}">Guest Id</td>
			<td th:text="${roomReservation.date}">Date</td>
		</tr>
	</table>
</body>
</html>